*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 350vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.text{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.top_text{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    position: relative;
    top: 7vh;
    transition: 1s;
}
.middle_text{
    width: 100%;
    height: 11vh;
    background: rgba(46, 41, 42, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom_text{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    position: relative;
    bottom: 7vh;
    transition: 1s;
}
h2{
    font-size: 20vh;
    text-align: center;
    font-weight: 900;
    color: rgba(242, 102, 203, 1);
}
p{
    color: white;
    font-weight: 600;
    font-size: 10vh;
    text-align: center;
    letter-spacing: 0.5em;
}
h3{
    font-size: 20vh;
    text-align: center;
    font-weight: 900;
    color: rgba(106, 50, 226, 1);
}
.text:hover .top_text{
    position: relative;
    top: 0;
}
.text:hover .bottom_text{
    position: relative;
    bottom: 0;
}
.section_1{
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s_1_cont{
    width: 100%;
    height: 70%;
    display: flex;
}
.s_1_card{
    width: 18rem;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
    overflow: hidden;
    transition: 1s;
}
.s_1_card img{
    opacity: 0.25;
}
.s_1_cont .s_1_card:first-child{
    background-image: url("./img/1_card.png");
}
.s_1_cont .s_1_card:nth-child(2){
    background-image: url("./img/2_card.png");
}
.s_1_cont .s_1_card:nth-child(3){
    background-image: url("./img/3_card.png");
}
.s_1_cont .s_1_card:nth-child(4){
    background-image: url("./img/4_card.png");
}
.s_1_cont .s_1_card:last-child{
    background-image: url("./img/5_card.png");
    background-position: center;
}
.s_1_card:hover{
    width: 35%;
    height: 100%;
}
.section_2{
    width: 90%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s_2_cont{
    width: 85%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2%;
}
.s_2_card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
.s_2_card:first-child{
    background-image: url("./img/s_2_1.png");
}
.s_2_card:nth-child(2){
    background-image: url("./img/s_2_2.png");
}
.s_2_card:nth-child(3){
    background-image: url("./img/s_2_3.png");
}
.s_2_card:nth-child(4){
    background-image: url("./img/s_2_4.png");
}
.s_2_card:nth-child(5){
    background-image: url("./img/s_2_5.png");
}
.s_2_card:nth-child(6){
    background-image: url("./img/s_2_6.png");
}
.s_2_card:nth-child(7){
    background-image: url("./img/s_2_7.png");
}
.s_2_card:last-child{
    background-image: url("./img/s_2_8.png");
}
.s_2_card_hover{
    width: 100%;
    height: 80%;
    background: rgba(28, 27, 27, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.7s;
    opacity: 0;
    text-align: center;
    backdrop-filter: blur(10px)
}
.s_2_card:hover .s_2_card_hover{
    opacity: 1;
}
h1{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
span{
    color: lightgreen;
    font-size: 25px;
    font-weight: 400;
}
a{
    color: lightgreen;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}
button{
    background-color: green;
    color: white;
    border: none;
    width: 80%;
    height: 10%;
    font-size: 25px;
}
